<p>auth works! {{signined}} </p>


<button *ngIf="!signined" (click)="handleAuthClick($event)">Authorize</button>
<button *ngIf="signined" (click)="showFiles()">list Files</button>

<mat-form-field appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="application/json">application/json</mat-option>
    <mat-option value="text/plain">text/plain</mat-option>
  </mat-select>
</mat-form-field>

<button *ngIf="signined" (click)="handleSignoutClick($event)">Sign Out</button>

<br />
<div *ngIf="showContented">
  <button (click)="showContented = false ">Close</button>
  <textarea id="w3review" name="w3review" rows="50" cols="150">
    {{ fileConent }}
  </textarea>
</div>

<table *ngIf="!showContented" >
  <thead>
    <tr>
      <th>The table header</th>
      <th>Watch</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of files">
      <td>{{ JSON.stringify(f) }}</td>
      <td>
        <button  (click)="openContent(f)">Open </button>
      </td>
    </tr>
  </tbody>
</table>
